/*@font-face {
    font-family: "VCROSDMono";
    src: url("../fonts/VCR_OSD_MONO_1.001.ttf") format('ttf');
}*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /**/
    /*font-family: "VCROSDMono";*/
}
.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #9c27b0, #8ecdff);
} 
nav{
    width: 80%;
    position: sticky;
    margin: 1vw auto;
    z-index: 1;
    display: flex;
    align-items: center;
}
#logo{
    width: 30px;
    height: 30px;
    z-index: 1;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display:inline-flex;
    margin: 0 1vw;
}
 /*a for anchor type*/
.nav-links ul li a{
    color:black;
    text-decoration: none;
}
.nav-links ul li a:hover{
    color: grey;
}
.information{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%); /*-50 keeps information (in white) on center of screen */
}
#circle{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 50%;
    transform: rotate(0deg); /*for js*/
    transition: 1s;

    /*background: #ccc; undo comment to visualize circle*/
}
.feature img{
    width: 70px;
}
/*should rename "feature" to something more fitting later*/
.feature{ 
    /*"feature" was for phones in tutorial.."specs"?*/
    position: absolute;
    display: flex;
    color: white;
}
/*text in div in feature*/
.feature div{ 
    margin-left: 30px;
}
.feature div a{
    text-decoration: none;
    color: white;
}
.feature div p{ 
    margin-top: 8px;
    text-decoration: none;
}
.feature div a:hover{
    color:black;
}

.one{
    top: 450px;
    right: 50px;
}
.two{
    top: 150px;
    left: 350px;
    /*alignment so content upright when visible*/
    transform: rotate(-90deg); 
}
.three{
    bottom: 450px;
    left: 50px;
    /*alignment so content upright when visible*/
    transform: rotate(-180deg);
}
.four{
    bottom: 150px;
    right: 350px;
    /*alignment so content upright when visible*/
    transform: rotate(-270deg);

}
.middleImage{ 
    width: 200px;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
    z-index: 1;
}
.controls{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.controls h3{
    margin: 15px 0;
    color: white;
}
#upBtn{
    width: 15px;
    cursor: pointer;
}
#downBtn{
    width: 15px;
    cursor: pointer;
    transform: rotate(180deg);
}
.overlay{
    width: 0;
    height: 0;
    /*instead of having background white and hiding icons of wheel in white, can make transparent bg and hide icons later*/
    /*probably will go with white icons to maintain rotating visual effect*/
    border-top: 500px solid white;
    border-right: 500px solid transparent;
    border-bottom: 500px solid white;
    border-left: 500px solid white;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 0;
}
/*contact form*/
.wrapper{
    display: flex;
    height: calc(100vh - 10vh - 68px);

    align-items: center;
    width: 350px;
    max-width: 90%;
    margin: 4vw auto; /*0 is above/below& auto centers L&R within parent containter.*/ 
    position: relative;
    z-index: 1;
}
.wrapper form{
    width: inherit;
}
.wrapper label{
    display: block;
    margin: 0.5em 0;
}
.wrapper label input{
    font-size: 18px;
    padding: 0.5em;
    width: 100%;
    border-radius: 5px;
    background: white;
    border: 1px;
    border-style: solid;
    border-color: black;
}
.wrapper label textarea{
    font-size: 18px;
    /*font-family: 'VCROSDMono';*/
    width: 100%;
    height: 20vh;
    min-height: 2vh;
    padding: 0.5em;
    border-radius: 5px;
    background: white;
    border: 1px;
    border-style: solid;
    border-color: black;
}
.wrapper button[type="submit"]{
    font-size: 15px;
    color: black;
    background-color: white;
    width: 4em;
}
/*end of contact form*/
/*thank you page*/
.container-1{
    display: flex;
    justify-content: center;
}
#thankyou{
    display: flex;
    height: calc(100vh - 8vh - 68px);
    flex-direction: column;
    position: absolute;
    /*border: 1px solid black;*/
    justify-content: center;
    z-index: 1;
}
#thankyou h1{
    color: black;
    align-self: center;
    font-size: 40px;
}
#thankyou p{
    font-size: 20px;
    color: black;
    align-self: center;
}
/*end of thank you page*/

/*Beginning of work page*/
.project-container{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    flex-basis: auto;
    justify-content: center;
    height: inherit;
    gap: 60px;
    overflow-y: scroll;
}
.project{
    padding-top: 60px;
    padding-bottom: 60px;
    flex-basis: 50%;
    max-width: 35%;
    max-height: 46%;
    min-width: 300px;
}
.project a{
    color:black;
    text-decoration: none;
}
.project a:hover{
    color: grey;
}
.project img{
    max-height: 70%;
    max-width: 100%;
    min-height: 70%;
    object-fit: contain;
}
.p-description{
    height: 122px;    
}
.p-description p{
    font-size: 16px;
}
/*End of work page*/

/*Beginning of about me page*/
.container-2{
    display: flex;
    justify-content: center;
}
#aboutme{
    display: flex;
    height: calc(100vh - 8vh - 68px);
    flex-direction: column;
    position: absolute;
    justify-content: center;
    z-index: 1;
}
#aboutme a{
    text-decoration: none;
    color: black;
    font-size: 30px;
}
#aboutme a:hover{
    color: grey;
}
#aboutme b{
    font-size: 30px;
}
#aboutme h1{
    color: black;
    align-self: left;
    font-size: 40px;
    text-decoration: underline;
}
#aboutme p{
    font-size: 26px;
    color: black;
    align-self: left;
}
/*End of About me page*/


/*Reponsive Design*/
  @media only screen and (max-width: 700px) {
    .project img{
        max-height: 70%;
        max-width: 100%;;
        object-fit: contain;
    }
  }
  @media only screen and (min-width: 768px) {


  }